<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <title>Document</title>
</head>

<body>
    <form method="POST" style="margin-left: 10px;">
        <label for="nom">Nom :</label>
        <input type="text" name="nom" id="nom" style="max-width: 500px;"><br>

        <label for="photo">Photo :</label>
        <input type="text" name="photo" id="photo" style="max-width: 500px;"><br>

        <label for="description">Description :</label>
        <textarea name="description" id="description" style="max-width: 500px;"></textarea><br>

        <br>
        <label for="equipe_id">Équipe :</label>
        <select name="equipe_id" id="equipe_id">
            {{#equipes}}
            <option value="{{ id }}">{{ nom }}</option>
            {{/equipes}}
        </select>
        <br>
        <button type="submit" style="max-width: 500px;">Modifier</button>
    </form>
</body>

</html>